.w3-third img {
    max-width:80%;
    max-height: 20em;
}

.w3-card-4 {
    margin-bottom:16px;
}



h2.highlights {
    text-align: left;
    border-bottom: 0pt;
}

.highlights-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.w3-bar>a {
    text-decoration-line:none;
}

a.icons-container {
    text-decoration-line:none;
}

.w3-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.w3-content {
    margin-top: 5em;
}

#bussiness_card {
    max-width: 95%;
    margin: auto;
}

.icons-container {
    display: flex;
    align-items: center;
}

#cv-div {
    justify-content: center;
    max-width: 80%;
}
  
.w3-bar {
    text-align: center;
}

.video-container {
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px;
    height: 0; 
    overflow: hidden;
    max-width:80%;
    margin:auto;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
}

.photo-show {
    word-spacing: 0%;
}

.photo-show img {
    height: 13em;
    margin: 0em;
    padding: 0em;
    display: inline;
    float: left;
}

.slides {
    margin:auto;
    max-height: 30em;
    margin-bottom: 5px;
    max-width: 95%;
}

#description {
    margin-bottom: 12px;
}

#linkedin {
    height: 1.5em;
}

#git {
    height: 1.5em;
}

.section-header {
    margin-top: 2em;
}




@media all and (max-width: 750px) {
    .w3-bar { display: none; }
    .w3-content {
        margin-top: 0em;
    }
    #meimg_wrapper {
        text-align: center;
    }
    #mename_wrapper {
        text-align: center;
    }
    #cv-div {
        max-width: 100%;
    }
}