mixin 3d-player(src, heading="3D model", orbit_controls=false, camera_position="0 0 0")
    //- loading screen
    div(id="loading_screen")
        div(id="heading") #{heading}
        div(id="container")
            div(class="lds-ellipsis")
                div
                div
                div
                div
    style(type="text/css").
        #loading_screen {
            background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg');
            background-position:center;
            background-size: cover;
        }
        
    
    if !orbit_controls        
        img(id="home_button" title="Return back to origin." src="../../control_graphic/home.png")
    include back_icon.pug
    +back-icon(camera_position)

    img(src="../../control_graphic/right.png" id="control_trigger")
    
    //- control-panel
    include control-panel.pug

    a-scene(cursor="rayOrigin:mouse" raycaster="objects: .clickable" gltf-model="dracoDecoderPath: ../../draco/;" background="color: black" joystick)
        a-assets
            a-asset-item(id="main_model" src=src)
        
        a-entity(gltf-model="#main_model" id="gltf_model" big_model autoscale="scale:30; rotation: -90, 0, 0")
        if orbit_controls
            if camera_position === "0 0 0"
                -camera_position = "0 -2 20" //- different default for orbit controls
            a-entity(id="camera" look-controls orbit-controls="\
                target: 0 0 0; minDistance: 1; \
                maxDistance: 50; initialPosition: "+ camera_position + "\
                ; maxPolarAngle: 180"
            )
            script.
                document.addEventListener("joystick-created", function(event) { 
                    document.getElementById("joystick").style.display = "none" // remove joystick
                });
        else
            a-entity(id="camera_rig")
                a-entity(id="camera" camera position=camera_position touch-controls="gyroEnabled:false" wasd-controls=" fly:true; acceleration:40")
            //- custom lighting for viewing inside of models
            a-entity(light="type: point; intensity: 1; distance: 100; decay: 2" position="0 0 0")
            a-entity(light="type: ambient; color: #CCC")