mixin back-icon(default_pos)
    //- change the workings of this!!!
    script.
        document.addEventListener("DOMContentLoaded", function() {
            var camera = document.getElementById("camera");
            var homeButton = document.getElementById("home_button");
            homeButton.addEventListener("click", function() {
                camera.setAttribute("position", "#{default_pos}");
            });
        });