div(id="control_panel")
        h3 Nastavení
        div(class="item")
            |Anotace
            label(class="switch" id="change_visibility")
                input(type="checkbox" checked)
                span(class="slider round")
        div(class="item" id="gyroscope")
            |Gyroskop
            label(class="switch" id="switch_gyro")
                input(type="checkbox" checked)
                span(class="slider round")