div(id="control_panel")
        h3 Nastavení
        div(class="item")
            |Anotace
            label(class="switch" id="change_visibility")
                input(type="checkbox" checked)
                span(class="slider round")
        div(class="item" id="gyroscope")
            |Gyroskop
            label(class="switch" id="switch_gyro")
                input(type="checkbox")
                span(class="slider round")
        div(class="item" id="speed")
            |Rychlost
            input(type="range" class="speed_slider" value="40" min="5" max="130" step="1" oninput="change_acceleration(this)")
            div(id="speed_val") 40