mixin gallery-popup(heading, json_gallery_src, position, id)
    -var picture_src = picture_src
    div(id=id class="popup")
        
        div(class="popup_heading") 
            span(class="back_icon")
                img(src="../../control_graphic/back_icon.png")

            img(src="../../control_graphic/maximize.png" class="enlarge_icon")
            |#{heading}
            
            
        div(class="popup_body")
            //- ability to put text here as well TODO
            include gallery.pug

    //- Script to add element into aframe
    script.
        document.addEventListener("DOMContentLoaded", function() {
            create_popup("#{id}", "#{position}", true);
        });
 