//-
    This is template for gallery (photo viewer)

//- get gallery
div(class="gallery_wrapper" id="gal_wrapper" + id)
    img(class="gal_left_click" id="glc" + id src="../../control_graphic/back_icon.png")
    img(class="gal_right_click" id="grc" + id src="../../control_graphic/right.png")
    div(class="gall_num" id="g_num" + id)
        //- providing functionality of counter
        span(class="current_img")
        span(class="total")

script.
    // ajax
    document.addEventListener("DOMContentLoaded", function() {
        create_gallery("#{id}", "#{json_gallery_src}");
    });
