mixin head(title)

    head
        title #{title}
        meta(charset="UTF-8")

        script(src="https://aframe.io/releases/1.0.3/aframe.min.js")

        //- Script used to register events  https://www.npmjs.com/package/aframe-event-set-component
        script(src="https://unpkg.com/aframe-event-set-component@^4.0.0/dist/aframe-event-set-component.min.js")

        //- Component for objects to look at camera
        script(src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js")

        //- Script enabling pointclouds PROBABLY WONT BE NEEDED
        script(src="https://unpkg.com/aframe-pointcloud-component/dist/aframe-pointcloud-component.min.js")

        //- Joystick script
        script(src="../../04_javascript/joystick.js")

        //- TODO Script for disabling gyroscope on mobile
        script(src="../../04_javascript/a-touch-controls.js" )

        //- For restricting cameras movemen
        script(src="https://rawgit.com/atomicguy/aframe-fence-component/master/dist/aframe-fence-component.min.js")
        
        //- Orbit controls
        script(src="https://unpkg.com/aframe-orbit-controls@1.0.0/dist/aframe-orbit-controls.min.js")
        script(src="https://unpkg.com/aframe-supercraft-loader@1.1.3/dist/aframe-supercraft-loader.js")

        //- My scripts
        script(src="../../04_javascript/control.js")
        script(src="../../04_javascript/gallery_control.js")
        script(src="../../04_javascript/control-panel.js")
        script(src="../../04_javascript/popup_control.js")
       
        link(rel='stylesheet' type='text/css' href="../../css/main.css")
        link(rel='stylesheet' type='text/css' href="../../css/loading.css")
        link(rel='stylesheet' type='text/css' href="../../css/gallery.css")  
        link(rel='stylesheet' type='text/css' href="../../css/control-panel.css")     