doctype html
html(lang='cs')
    include head.pug
    block title
        +head("Default title")
        //- Setup title here by doing +head("Title")
    body
        
        include 3d-player.pug
        include simple-annotation.pug
        include gallery-popup.pug

        //- ----- ALL SOURCES RELATIVE TO COMPILATION FOLDER: 02_html -----
            extend and fill blocks
        //- 
            here you can add annotations
            +annotation(
                heading, -- of text
                text, -- main text -- text can be formatted by standart html
                picture_src, -- source of a picture -- optional -- leave out by inputting =""
                position, -- location in the a-scene 
                id -- of the annotation -- connects annotation to its button
            )

            for galleries of pictures:
            +gallery-popup(heading,
                json_gallery_src, -- source of the gallery json -- pictures should be located in the same folder.
                    Descriptions to photos should be located in the json.
                position, -- location in the a-scene
                id -- of gallery -- please put in numbers from 1 to n where n is the number of galleries.
                                    These will be used to generate number visible in 3D -- if there is no number
                                    specified, there will be only icon of picture. 
            )
        block annotations

        //-
            add your 3d player here
            +3d-player(
                src, -- model source
                orbit_controls=false, -- orbit controls = camera orbits around object
                camera_position="0 0 0" -- camera position
                                        -- default values 0 0 0 for first person movement and 0 -2 20 for orbit-controls
                )
        block 3d-player