extends ../../includes/main-template.pug

block title
    +head("Sv. Mořic")

block annotations
    +annotation("Kostel svatého Mořice", "Kostel svatého Mořice je <b>gotický</b> proboštský farní kostel v <b>Olomouci</b>. Patří do farnosti svatého Mořice.\
    Farní kostel svatého Mořice vždy plnil roli hlavního městského chrámu, zatímco katedrála svatého Václava byla metropolitním \
    biskupským chrámem.", "background.jpg", "-7.816 0.871 0.757", "uniqueID")
    
block 3d-player
    +3d-player("models/sv_moric.glb", "Kostel Sv. Mořice", false, "-5.647 -0.063 5.825")