extends ../../includes/main-template.pug

block title
    +head("Kostel Sv. Anny")

block annotations
    +gallery-popup("Andělíčci", "../../galleries/afrika_vlevo_andelicci", "-5.028 0.756 -1.382", "gall1")
    +gallery-popup("Malba", "../../galleries/vyber_malba_nad_asii", "-1.441 2.181 2.821", "gall2")
    +gallery-popup("Sochy nad Afrikou", "../../galleries/vyber_afrika_vlevo", "2.970 0.870 -1.235", "gall3")
    +gallery-popup("Andělíčci nad Asií", "../../galleries/vyber_andelicci_vpravo_nad_asii", "-2.556 0.972 2.760", "gall4")
    +annotation("Stará Voda", "Kostel svaté Anny a svatého Jakuba Většího ve Staré Vodě byl v době minulé rozsáhlým barokním poutním kostelem o dvou věžích,\
     s pěti zvony, dvorem a krytými ambity s křížovou cestou. Na hlavním oltáři byla uctívaná socha sv. Anny, tři boční oltáře zasvěceny obětování Panny \
     Marie, sv. Josefu a sv. Jáchymu; za zmínku stojí vynikající varhany a další detaily.\
     Budova kláštera byla poškozena za druhé světové války a po jejím ukončení se dokonce započalo s opravou. Do roku 1946 působila v duchovní\
      správě kongregace oblátů Panny Marie. Dnes jsou na místě kláštera pouze zbytky zdiva a studna na bývalém nádvoří.", 
      "../../control_graphic/logo_mrs.png", "0.342 0.756 -3.572", "uniqueID")
    
block 3d-player
    +3d-player("../../03_models/stara_voda/0_2uvs_textured_diff.glb")