extends ../../includes/main-template.pug

block title
    +head("Kostel Sv. Anny")

block annotations
    //-
      +gallery-popup("Andělíčci", "galleries/afrika_vlevo_andelicci", "-5.028 0.756 -1.382", "gall1")
      +gallery-popup("Malba", "galleries/vyber_malba_nad_asii", "-1.441 2.181 2.821", "gall2")
      +gallery-popup("Sochy nad Afrikou", "galleries/vyber_afrika_vlevo", "2.970 0.870 -1.235", "gall4")
      +gallery-popup("Andělíčci nad Asií", "galleries/vyber_andelicci_vpravo_nad_asii", "-2.556 0.972 2.760", "gall3")
    +annotation("Stará Voda", "Kostel svaté Anny a svatého Jakuba Většího ve Staré Vodě byl v době minulé rozsáhlým barokním poutním kostelem o dvou věžích,\
     s pěti zvony, dvorem a krytými ambity s křížovou cestou. Na hlavním oltáři byla uctívaná socha sv. Anny, tři boční oltáře zasvěceny obětování Panny \
     Marie, sv. Josefu a sv. Jáchymu; za zmínku stojí vynikající varhany a další detaily.<br>\
     Budova kláštera byla poškozena za druhé světové války a po jejím ukončení se dokonce započalo s opravou. Do roku 1946 působila v duchovní\
      správě kongregace oblátů Panny Marie. Dnes jsou na místě kláštera pouze zbytky zdiva a studna na bývalém nádvoří.", 
      "../../control_graphic/logo_mrs.png", "0.342 0.756 -3.572", "uniqueID")

    +annotation("Možný popisek", 
    'Toto místo bychom chtěli zaplnit popisky. Vybral jsem pár míst na modelu, které mi přišly zajímavé k popsání.\
    Samozřejmě nejsem historik, takže nevím, jaké místo je vhodné, můžete navrhnout jiná místa, nebo některá nepoužít.\
    Pak mi je, prosím, nějak pošlete a já je dodám k modelu.\
    Stejně tak můžete vyrobit popisek ke galeriím fotek z dronu.\
    <h2>Strukturování</h2>\
    Pokud byste se chtěli víc rozepsat a text strukturovat do odstavců, nadpisů, odrážek, nebo cokoliv jiného,\
    můžete použít <b>HTML tagy</b>. Pokud žádné neznáte, nevadí, můžete napsat text ve Wordu\
    a pak využít např. <a href="https://wordtohtml.net/" target="blank">této služby</a>.\
    Nebo mi to můžete spíš poslat ve Wordu a já to převedu.\
    <h2>Přesné souřadnice objektu</h2>\
    Pokud byste chtěli popisek někam jinam, než jsem dal já, můžete si na to místo v modelu najet, poté zmáčknout\
    <b>CTRL + ALT + I</b>. Dostanete se tím do služby frameworku A-Frame, která se jmenuje Scene Inspector. Zde uvidíte\
    nalevo menu, ve kterém jsou všechny objekty scény. Klikněte na objekt s názvem <b>camera</b>. Vpravo se Vám objeví\
    detaily objektu, mezi nimi i atribut position. Ten si poznamenejte, je to pozice kamery, tedy místo, kam\
    jste došli před vyvoláním inspektoru.\
    <img src="description.png">\
    Do budoucna bychom chtěli udělat něco podobného jako je A-Frame Inspector,\
    se zaměřením na popisky, tedy byste mohli interaktivné přidávat anotace, což by pro Vás určitě bylo pohodlnější.\
    S otázkami se můžete obracet na: melecmat@fel.cvut.cz', 
      "", "2.481 -4.652 4.229", "info")
    
    +annotation("Hlavní oltář sv. Anny a sv. Jakuba", 
    '<p><b>autor oltářního obrazu:</b> Luigi Garzi</p>\
    <p><b>datace:</b> říjen 1686 - únor 1687</p>\
    <p>Biskup Karel II. Lichtenstein-Castelcorn jako ctižádostivý donátor zadal svému římskému agentovi\
     Giovannimu Petignierovi, aby zajistil, že obraz hlavního oltáře starovodského kostela zhotoví nejlepší\
      z tamějších malířů. Zakázku nakonec přijal ředitel římské Akademie sv. Lukáše Luigi Garzi, jehož práce\
      máme dochovány například v kapli Cybo chrámu Santa Maria del Popolo v Římě. V centru obrazu \
      sedí na oblaku Panna Maria objímající Ježíška, obklopují je sv. Anna s Jáchymem, sv. Josef, sv. \
      Karel Boromejský, jmenovec biskupův, a zemští patroni sv. Václav či sv. Cyril s Metodějem. \
      Prostředníkem mezi Kristem a skupinou poutníků s dolní části obrazu je sv. Jakub Větší oděný do \
      zeleného pláště. V pozadí zřejmě Garzi zpodobil horu Conero a před ní město italské město Ancona, \
      odkud byly do Staré Vody přeneseny ostatky sv. Anny.</p>\
    <p>Obraz byl v půli 19. století nahrazen kopií od Josefa Kristena z Moravské Berouna,\
    která se dochovala v kroměřížské kostele Blahoslavené Panny Marie. </p>\
    <p>Oltářní architektura znikla během výstavby chrámu Giovannim Pietrem Tencalou v letech 1682-1688.</p>\
    ', 
      "", "5.916 -4.428 7.788", "uniqueID1")

    +annotation(
      "Vítězný Kristus se sv. Annou", "Nástropní malba.", "", "3.119 0.780 5.479 ", "uniqueID2"
    )
    
    +annotation(
      "Štuková výzdoba v úrovni korunní římsy", "", "", "2.774 0.696 2.922", "uniqueID3"
    )

    +annotation("Nástropní malba Apoteóza sv. Anny", 
    '<p><b>autor:</b> Giovanni Carlone (?)</p>\
    <p><b>datace:</b> 1683-1688</p>\
    Ústředním námětem výzdoby chrámové lodi se stala rozsáhlá dramatická malba otevřeného nebe se světci, anděly a Bohem Otcem jako vládcem všehomíra.\
    Před něj předstupuje ženská postava doprovázená dvojicí mužů, ovšem tito nejsou konkrétně atribuováni.\
    Výjev nápadně připomíná scénu Nanebevzetí Panny Marie, čemuž však neodpovídají ikonografické detaily, takto dominantně umístěná malba by navíc tematicky neodpovídala patrociniu kostela.\
    Pravděpodobně se tedy jedná o neobvyklý námět Apoteózy sv. Anny spolu se sv. Jáchymem a sv. Jakubem Větším.\
    Identifikaci námětu ztěžuje špatný technický stav malby způsobený dlouhodobým zatékáním střechou a střelbou sovětských vojáků.\
    ', 
    "", "1.072 5.775 -1.926 ", "uniqueID4")

    +annotation("Sv. Jan Evangelista", 
    '<p><b>autor:</b> Georg Fröml</p>\
    <p><b>datace:</b> 1796 </p>\
    <p>Z malby se téměř nic nedochovalo. Sedící postava sv. Jana byla zobrazena při psaní, \
    přičemž levou rukou si světec podpíral hlavu. Vedle něj stál jako jeho symbol orel, \
    zde snad s kalamářem v zobáku. Nad hlavou evangelisty se vznášela dvojice andílčích hlaviček.</p>\
    ', 
      "", "0.374 -3.995 -6.199", "uniqueID5")

    +annotation(
      "Sv. Matouš",
      "<p> <b>autor:</b> Georg Fröml </p>\
      <p> <b> datace:</b> 1796 </p>",
      "", "4.744 -4.309 0.657", "uniqueID6"
    )

    +annotation(
      "Sv. Marek",
      "<p><b>autor:</b> Georg Fröml</p>\
      <p><b>datace:</b> 1796</p>",
      "", "-1.720 -4.208 4.713", "uniqueID7"
    )

    +annotation(
      "Sv. Lukáš",
      "<p><b>autor:</b> Georg Fröml</p>\
      <p><b>datace:</b> 1796</p>",
      "", "-6.084 -3.724 -2.306", "uniqueID8"
    )

    +annotation(
      "Alegorie Ameriky",
      "", "", "1.040 -0.332 -4.868", "uniqueID9"
    )

    +annotation(
      "Alegorie Evropy",
      "", "", "3.769 -0.318 -0.579", "uniqueID10"
    )

    +annotation(
      "Alegorie Asie",
      "", "", "-2.393 -0.295 3.266", "uniqueID11"
    )

    +annotation(
      "Alegorie Afriky",
      "", "", "-5.153 -0.318 -1.177", "uniqueID12"
    )

    +annotation(
      "Útěk do Egypta",
      "<p><b>autor:</b> Josef Kristen</p>\
      <p><b>datace:</b> 1873</p>\
      V čelech výsečí neckové klenby, jež završuje chrámovou loď,\
      je zpodobena čtveřice výjevů ze života Panny Marie. Zde, nad alegorií Ameriky, se nachází námět Útěk do Egypta.",
      "", "1.084 3.034 -4.899", "uniqueID13"
    )

    +annotation(
      "Dvanáctiletý Kristus v chrámu",
      "<p><b>autor:</b> Josef Kristen</p>\
      <p><b>datace:</b> 1873</p>\
      V čelech výsečí neckové klenby, jež završuje chrámovou loď,\
      je zpodobena čtveřice výjevů ze života Panny Marie. Zde, nad alegorií Ameriky, se nacházel námět Dvanáctiletý Kristus v chrámu.",
      "", "3.714 3.181 -0.701", "uniqueID14"
    )

    +annotation(
      "Zvěstování Panny Marie",
      "<p><b>autor:</b> Josef Kristen</p>\
      <p><b>datace:</b> 1873</p>\
      V čelech výsečí neckové klenby, jež završuje chrámovou loď,\
      je zpodobena čtveřice výjevů ze života Panny Marie. Zde, nad alegorií Ameriky, se nachází námět Zvěstování Panny Marie.",
      "", "-2.427 2.994 3.037", "uniqueID15"
    )

    +annotation("Navštívení Panny Marie", 
    '<p> <b> autor:</b> Josef Kristen </p>\
    <p><b>datace:</b> 1873<p>\
    V čelech výsečí neckové klenby, jež završuje chrámovou loď, je zpodobena čtveřice výjevů ze života Panny Marie.\
    Zde, nad alegorií Afriky, se nachází námět Navštívení Panny Marie, která spolu se sv. Josefem přichází do domu své příbuzné sv. Alžběty.\
    Objetí dvojice žen je zobrazeno ve středu výjevu, vpravo za Bohorodičkou stojí sv. Josef, zatímco z postavy sv. Zachariáše, Alžbětina manžela,\
    se zachovala pouze paže. Původně byl vypodobněn vlevo v domovních dveřích, jak se vítá s Kristovým pěstounem Josefem.<br>\
    Celý čtyřdílný mariánský cyklus vytvořil v roce 1873 malíř Josef Kristen z Moravského Berouna, přičemž vedle Navštívení \
    celek sestává z tématů Zvěstování Panny Marie, Útěku do Egypta a Uvedení Ježíše do chrámu.', 
      "", "-4.397 2.116 -1.636", "uniqueID16")

    +annotation(
      "Obětování Krista v chrámu",
      "Nástropní malba. Zničena vlivem zatékání střechou.",
      "", "4.838 0.236 -4.268 ", "uniqueID17"
    )

    +annotation(
      "Narození Páně",
      "Nástropní malba.",
      "", "-6.166 0.329 2.523", "uniqueID18"
    )
    //-
      +annotation(
        "Nadpis",
        "text",
        "", "souradnice", "uniqueID"
      )
    
block 3d-player
    +3d-player("models/0_2uvs_textured_diff.glb", heading="Kostel svaté Anny")