extends ../../includes/main-template.pug

block title
    +head("Kostel Sv. Anny")

block annotations
    +gallery-popup("Andělíčci", "galleries/afrika_vlevo_andelicci", "-5.028 0.756 -1.382", "gall1")
    +gallery-popup("Malba", "galleries/vyber_malba_nad_asii", "-1.441 2.181 2.821", "gall2")
    +gallery-popup("Sochy nad Afrikou", "galleries/vyber_afrika_vlevo", "2.970 0.870 -1.235", "gall4")
    +gallery-popup("Andělíčci nad Asií", "galleries/vyber_andelicci_vpravo_nad_asii", "-2.556 0.972 2.760", "gall3")
    +annotation("Stará Voda", "Kostel svaté Anny a svatého Jakuba Většího ve Staré Vodě byl v době minulé rozsáhlým barokním poutním kostelem o dvou věžích,\
     s pěti zvony, dvorem a krytými ambity s křížovou cestou. Na hlavním oltáři byla uctívaná socha sv. Anny, tři boční oltáře zasvěceny obětování Panny \
     Marie, sv. Josefu a sv. Jáchymu; za zmínku stojí vynikající varhany a další detaily.<br>\
     Budova kláštera byla poškozena za druhé světové války a po jejím ukončení se dokonce započalo s opravou. Do roku 1946 působila v duchovní\
      správě kongregace oblátů Panny Marie. Dnes jsou na místě kláštera pouze zbytky zdiva a studna na bývalém nádvoří.", 
      "../../control_graphic/logo_mrs.png", "0.342 0.756 -3.572", "uniqueID")
    +annotation("Možný popisek", 
    'Toto místo bychom chtěli zaplnit popisky. Vybral jsem pár míst na modelu, které mi přišly zajímavé k popsání.\
    Samozřejmě nejsem historik, takže nevím, jaké místo je vhodné, můžete navrhnout jiná místa, nebo některá nepoužít.\
    Pak mi je, prosím, nějak pošlete a já je dodám k modelu.\
    Stejně tak můžete vyrobit popisek ke galeriím fotek z dronu.\
    <h2>Strukturování</h2>\
    Pokud byste se chtěli víc rozepsat a text strukturovat do odstavců, nadpisů, odrážek, nebo cokoliv jiného,\
    můžete použít <b>HTML tagy</b>. Pokud žádné neznáte, nevadí, můžete napsat text ve Wordu\
    a pak využít např. <a href="https://wordtohtml.net/" target="blank">této služby</a>.\
    Nebo mi to můžete spíš poslat ve Wordu a já to převedu.\
    <h2>Přesné souřadnice objektu</h2>\
    Pokud byste chtěli popisek někam jinam, než jsem dal já, můžete si na to místo v modelu najet, poté zmáčknout\
    <b>CTRL + ALT + I</b>. Dostanete se tím do služby frameworku A-Frame, která se jmenuje Scene Inspector. Zde uvidíte\
    nalevo menu, ve kterém jsou všechny objekty scény. Klikněte na objekt s názvem <b>camera</b>. Vpravo se Vám objeví\
    detaily objektu, mezi nimi i atribut position. Ten si poznamenejte, je to pozice kamery, tedy místo, kam\
    jste došli před vyvoláním inspektoru.\
    <img src="description.png">\
    Do budoucna bychom chtěli udělat něco podobného jako je A-Frame Inspector,\
    se zaměřením na popisky, tedy byste mohli interaktivné přidávat anotace, což by pro Vás určitě bylo pohodlnější.', 
      "", "-2.997 0.434 -4.064", "uniqueID1")
    +annotation("Možný popisek", 
    'Toto místo bychom chtěli zaplnit popisky. Vybral jsem pár míst na modelu, které mi přišly zajímavé k popsání.\
    Samozřejmě nejsem historik, takže nevím, jaké místo je vhodné, můžete navrhnout jiná místa, nebo některá nepoužít.\
    Pak mi je, prosím, nějak pošlete a já je dodám k modelu.\
    Stejně tak můžete vyrobit popisek ke galeriím fotek z dronu.\
    <h2>Strukturování</h2>\
    Pokud byste se chtěli víc rozepsat a text strukturovat do odstavců, nadpisů, odrážek, nebo cokoliv jiného,\
    můžete použít <b>HTML tagy</b>. Pokud žádné neznáte, nevadí, můžete napsat text ve Wordu\
    a pak využít např. <a href="https://wordtohtml.net/" target="blank">této služby</a>.\
    Nebo mi to můžete spíš poslat ve Wordu a já to převedu.\
    <h2>Přesné souřadnice objektu</h2>\
    Pokud byste chtěli popisek někam jinam, než jsem dal já, můžete si na to místo v modelu najet, poté zmáčknout\
    <b>CTRL + ALT + I</b>. Dostanete se tím do služby frameworku A-Frame, která se jmenuje Scene Inspector. Zde uvidíte\
    nalevo menu, ve kterém jsou všechny objekty scény. Klikněte na objekt s názvem <b>camera</b>. Vpravo se Vám objeví\
    detaily objektu, mezi nimi i atribut position. Ten si poznamenejte, je to pozice kamery, tedy místo, kam\
    jste došli před vyvoláním inspektoru.\
    <img src="description.png">\
    Do budoucna bychom chtěli udělat něco podobného jako je A-Frame Inspector,\
    se zaměřením na popisky, tedy byste mohli interaktivné přidávat anotace, což by pro Vás určitě bylo pohodlnější.', 
      "", "-4.397 2.116 -1.636", "uniqueID2")
    +annotation("Možný popisek", 
    'Toto místo bychom chtěli zaplnit popisky. Vybral jsem pár míst na modelu, které mi přišly zajímavé k popsání.\
    Samozřejmě nejsem historik, takže nevím, jaké místo je vhodné, můžete navrhnout jiná místa, nebo některá nepoužít.\
    Pak mi je, prosím, nějak pošlete a já je dodám k modelu.\
    Stejně tak můžete vyrobit popisek ke galeriím fotek z dronu.\
    <h2>Strukturování</h2>\
    Pokud byste se chtěli víc rozepsat a text strukturovat do odstavců, nadpisů, odrážek, nebo cokoliv jiného,\
    můžete použít <b>HTML tagy</b>. Pokud žádné neznáte, nevadí, můžete napsat text ve Wordu\
    a pak využít např. <a href="https://wordtohtml.net/" target="blank">této služby</a>.\
    Nebo mi to můžete spíš poslat ve Wordu a já to převedu.\
    <h2>Přesné souřadnice objektu</h2>\
    Pokud byste chtěli popisek někam jinam, než jsem dal já, můžete si na to místo v modelu najet, poté zmáčknout\
    <b>CTRL + ALT + I</b>. Dostanete se tím do služby frameworku A-Frame, která se jmenuje Scene Inspector. Zde uvidíte\
    nalevo menu, ve kterém jsou všechny objekty scény. Klikněte na objekt s názvem <b>camera</b>. Vpravo se Vám objeví\
    detaily objektu, mezi nimi i atribut position. Ten si poznamenejte, je to pozice kamery, tedy místo, kam\
    jste došli před vyvoláním inspektoru.\
    <img src="description.png">\
    Do budoucna bychom chtěli udělat něco podobného jako je A-Frame Inspector,\
    se zaměřením na popisky, tedy byste mohli interaktivné přidávat anotace, což by pro Vás určitě bylo pohodlnější.', 
      "", "3.273 -0.891 0.810", "uniqueID3")
    +annotation("Možný popisek", 
    'Toto místo bychom chtěli zaplnit popisky. Vybral jsem pár míst na modelu, které mi přišly zajímavé k popsání.\
    Samozřejmě nejsem historik, takže nevím, jaké místo je vhodné, můžete navrhnout jiná místa, nebo některá nepoužít.\
    Pak mi je, prosím, nějak pošlete a já je dodám k modelu.\
    Stejně tak můžete vyrobit popisek ke galeriím fotek z dronu.\
    <h2>Strukturování</h2>\
    Pokud byste se chtěli víc rozepsat a text strukturovat do odstavců, nadpisů, odrážek, nebo cokoliv jiného,\
    můžete použít <b>HTML tagy</b>. Pokud žádné neznáte, nevadí, můžete napsat text ve Wordu\
    a pak využít např. <a href="https://wordtohtml.net/" target="blank">této služby</a>.\
    Nebo mi to můžete spíš poslat ve Wordu a já to převedu.\
    <h2>Přesné souřadnice objektu</h2>\
    Pokud byste chtěli popisek někam jinam, než jsem dal já, můžete si na to místo v modelu najet, poté zmáčknout\
    <b>CTRL + ALT + I</b>. Dostanete se tím do služby frameworku A-Frame, která se jmenuje Scene Inspector. Zde uvidíte\
    nalevo menu, ve kterém jsou všechny objekty scény. Klikněte na objekt s názvem <b>camera</b>. Vpravo se Vám objeví\
    detaily objektu, mezi nimi i atribut position. Ten si poznamenejte, je to pozice kamery, tedy místo, kam\
    jste došli před vyvoláním inspektoru.\
    <img src="description.png">\
    Do budoucna bychom chtěli udělat něco podobného jako je A-Frame Inspector,\
    se zaměřením na popisky, tedy byste mohli interaktivné přidávat anotace, což by pro Vás určitě bylo pohodlnější.', 
      "", "2.481 -4.652 4.229", "uniqueID4")
    +annotation("Možný popisek", 
    'Toto místo bychom chtěli zaplnit popisky. Vybral jsem pár míst na modelu, které mi přišly zajímavé k popsání.\
    Samozřejmě nejsem historik, takže nevím, jaké místo je vhodné, můžete navrhnout jiná místa, nebo některá nepoužít.\
    Pak mi je, prosím, nějak pošlete a já je dodám k modelu.\
    Stejně tak můžete vyrobit popisek ke galeriím fotek z dronu.\
    <h2>Strukturování</h2>\
    Pokud byste se chtěli víc rozepsat a text strukturovat do odstavců, nadpisů, odrážek, nebo cokoliv jiného,\
    můžete použít <b>HTML tagy</b>. Pokud žádné neznáte, nevadí, můžete napsat text ve Wordu\
    a pak využít např. <a href="https://wordtohtml.net/" target="blank">této služby</a>.\
    Nebo mi to můžete spíš poslat ve Wordu a já to převedu.\
    <h2>Přesné souřadnice objektu</h2>\
    Pokud byste chtěli popisek někam jinam, než jsem dal já, můžete si na to místo v modelu najet, poté zmáčknout\
    <b>CTRL + ALT + I</b>. Dostanete se tím do služby frameworku A-Frame, která se jmenuje Scene Inspector. Zde uvidíte\
    nalevo menu, ve kterém jsou všechny objekty scény. Klikněte na objekt s názvem <b>camera</b>. Vpravo se Vám objeví\
    detaily objektu, mezi nimi i atribut position. Ten si poznamenejte, je to pozice kamery, tedy místo, kam\
    jste došli před vyvoláním inspektoru.\
    <img src="description.png">\
    Do budoucna bychom chtěli udělat něco podobného jako je A-Frame Inspector,\
    se zaměřením na popisky, tedy byste mohli interaktivné přidávat anotace, což by pro Vás určitě bylo pohodlnější.', 
      "", "-2.187 5.489 -1.678", "uniqueID5")
    +annotation("Možný popisek", 
    'Toto místo bychom chtěli zaplnit popisky. Vybral jsem pár míst na modelu, které mi přišly zajímavé k popsání.\
    Samozřejmě nejsem historik, takže nevím, jaké místo je vhodné, můžete navrhnout jiná místa, nebo některá nepoužít.\
    Pak mi je, prosím, nějak pošlete a já je dodám k modelu.\
    Stejně tak můžete vyrobit popisek ke galeriím fotek z dronu.\
    <h2>Strukturování</h2>\
    Pokud byste se chtěli víc rozepsat a text strukturovat do odstavců, nadpisů, odrážek, nebo cokoliv jiného,\
    můžete použít <b>HTML tagy</b>. Pokud žádné neznáte, nevadí, můžete napsat text ve Wordu\
    a pak využít např. <a href="https://wordtohtml.net/" target="blank">této služby</a>.\
    Nebo mi to můžete spíš poslat ve Wordu a já to převedu.\
    <h2>Přesné souřadnice objektu</h2>\
    Pokud byste chtěli popisek někam jinam, než jsem dal já, můžete si na to místo v modelu najet, poté zmáčknout\
    <b>CTRL + ALT + I</b>. Dostanete se tím do služby frameworku A-Frame, která se jmenuje Scene Inspector. Zde uvidíte\
    nalevo menu, ve kterém jsou všechny objekty scény. Klikněte na objekt s názvem <b>camera</b>. Vpravo se Vám objeví\
    detaily objektu, mezi nimi i atribut position. Ten si poznamenejte, je to pozice kamery, tedy místo, kam\
    jste došli před vyvoláním inspektoru.\
    <img src="description.png">\
    Do budoucna bychom chtěli udělat něco podobného jako je A-Frame Inspector,\
    se zaměřením na popisky, tedy byste mohli interaktivné přidávat anotace, což by pro Vás určitě bylo pohodlnější.', 
      "", "-0.102 -3.440 -5.408", "uniqueID6")
    
block 3d-player
    +3d-player("models/0_2uvs_textured_diff.glb", heading="Kostel svaté Anny")