<div class="gallery_wrapper" id="gal_wrapper{{parent_id}}">
    {{!<img src="../control_graphic/maximize.png" class="enlarge_icon">}}
    <img class="gal_left_click" id="glc{{parent_id}}" src="../control_graphic/back_icon.png">
    <img class="gal_right_click" id="grc{{parent_id}}" src="../control_graphic/right.png">
    <div class="gall_num" id="g_num{{parent_id}}" >
        <span class="current_img"></span>
        <span class="total"></span>
    </div>
</div>