{{#each annotations}}
<div class="popup" id="{{id}}">
    <div class="popup_heading"> <span class="back_icon"><img src="../../control_graphic/back_icon.png"></span>{{heading}}</div>
    <div class="popup_body"> {{{text}}}</div>
</div>
{{/each}}